body{
    background-color: rgb(14, 7, 26);
    color: white;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scheda{
    top: 16%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-rows: 33% 1fr;
    grid-template-columns: 50%, 1fr;
    position: absolute;
   /* bottom: 0;*/
}
header{
    border-bottom: white solid 2px;
    text-align: center;
    margin-bottom: 1%;
    height: 9%;
    padding: 0px;
}

button{
    height: 150px;
    width: 45%;
    margin: 2%;
    margin-right: 0;
    margin-left: 3%;
    background-color: rgb(14, 7, 26);
    border-color: white solid 2px;
    color:white;
    border-radius: 10px;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteiner{
    margin:2%
}

button:hover{
    animation: pulsanteToccato 1s ease;
}

@keyframes pulsanteToccato {
    0%{
        background-color: rgb(14, 7, 26);
        transform: rotateZ(0'angle');
    }
    100%{
        background-color: blueviolet;
        transform: rotateZ(360'angle');
    }
}
